# üìç Problem Title: Calculating Special Bonus

üîó [LeetCode Problem 1873 ‚Äì Calculate Special Bonus](https://leetcode.com/problems/calculate-special-bonus/)

## üóÇÔ∏è Category
- Topic: **Conditional Logic**, **Column Assignment**
- Difficulty: ‚≠ê Easy

## üìù Problem Description
You are given a table `Employees` with the following columns:
- `employee_id` (int)
- `name` (string)
- `salary` (int)

Write a query to calculate the bonus for each employee based on the following rules:
1. The bonus is **100% of their salary** if:
   - Their `employee_id` is **odd**, and
   - Their `name` does **not** start with the character `"M"`.
2. The bonus is **0** otherwise.

Return the result table with:
- `employee_id`
- `bonus`

The result should be **ordered by `employee_id`** in ascending order.

## üßæ Example Input

| employee_id | name   | salary |
|-------------|--------|--------|
| 2           | Meir   | 3000   |
| 3           | Michael| 3800   |
| 7           | Addilyn| 7400   |
| 8           | Juan   | 6100   |
| 9           | Kannon | 7700   |

## ‚úÖ Expected Output

| employee_id | bonus |
|-------------|-------|
| 2           | 0     |
| 3           | 0     |
| 7           | 7400  |
| 8           | 0     |
| 9           | 7700  |

## üß† Key Concepts
- Vectorized filtering using `.loc`
- String filtering with `.str.startswith()`
- Conditional column assignment
- Sorting DataFrames

In [94]:
import pandas as pd

In [95]:
data = [
    [2 , "Meir" , 3000],
    [3 , "Michael" , 3800],
    [7 , "Addilyn" , 7400],
    [8 , "Juan" ,6100],
    [9 , "Kannon"  , 770]
]
df = pd.DataFrame(data , columns = ["employee_id"  , "name" , "salary"])
df

   employee_id     name  salary
0            2     Meir    3000
1            3  Michael    3800
2            7  Addilyn    7400
3            8     Juan    6100
4            9   Kannon     770

In [96]:
def calculate_special_bonus(employees : pd.DataFrame) -> pd.DataFrame:
    # Default bonus: 0  for everyone
    employees["bonus"] = 0
    # This ensures every employee has a bonus value, even if they don't meet the criteria.

    # Updating only certain rows with .loc
    # What .loc does ?
    # .loc [rows, columns] is label-based selection in pandas.
    # It allows you to choose specific rows (based on condition) and specific columns to update or read.
    employees.loc[(employees["employee_id"] % 2 != 0 ) & ( ~ employees["name"].str.startswith('M')) , 'bonus'] = employees["salary"]
    # We are updating 'bonus' column -> .loc[rows (rows which meet the criteria) , columns ('bonus') in this case.)
    # For rows meeting the condition, set 'bonus' equal to their 'salary'.


    # Return required columns sorted by employee_id
    return employees[["employee_id" , "bonus"]].sort_values("employee_id")

In [97]:
result = calculate_special_bonus(df)
result

   employee_id  bonus
0            2      0
1            3      0
2            7   7400
3            8      0
4            9    770