# ðŸ“ Problem Title: Fix Names in a Table

ðŸ”— [LeetCode Problem 1667 â€“ Fix Names in a Table](https://leetcode.com/problems/fix-names-in-a-table/)

## ðŸ—‚ï¸ Category
- Topic: **String Formatting**
- Difficulty: â­ Easy

## ðŸ“ Problem Description
You are given a table `Users` with the following columns:
- `user_id` (int)
- `name` (string)

Write a query to fix the names so that:
- The first letter is **uppercase**.
- The rest of the letters are **lowercase**.

Return the result table ordered by `user_id`.

## ðŸ§¾ Example Input

| user_id | name     |
|---------|----------|
| 1       | aLice    |
| 2       | bOB      |

## âœ… Expected Output

| user_id | name     |
|---------|----------|
| 1       | Alice    |
| 2       | Bob      |

## ðŸ§  Key Concepts
- String transformation: first letter uppercase, rest lowercase.
- Sorting by `user_id`.
- Vectorized string operations or apply functions.

In [16]:
import pandas as pd
import numpy as np
# Creating sample database.
data = [[1, 'aLice'], [2, 'bOB']]
users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id':'Int64', 'name':'object'})

In [19]:
# Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.
# Return the result table ordered by user_id.
# The result format is in the following example.
def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users["name"] = users["name"].str.capitalize()
    return users.sort_values("user_id")

In [20]:
fix_names(users)

   user_id   name
0        1  Alice
1        2    Bob