    #📍 Problem Title: Big Countries

## 🗂️ Category
- SQL Type: **Basic SELECT + WHERE**
- Topic: **Filtering with Conditions**, **Logical OR**
- Difficulty: ⭐ Easy

## 📝 Problem Description
A country is considered "big" if:
- It has an area of at least 3,000,000 km² **OR**
- A population of at least 25,000,000

Write a query to return the **name**, **population**, and **area** of the big countries.

Return the result in any order.

## 🧾 Example Output
| name     | population | area     |
|----------|------------|----------|
| China    | 1.4B       | 9.6M km² |
| USA      | 331M       | 9.8M km² |

*(Numbers here are illustrative)*

## 🧠 Key Concepts
- Filtering rows with `WHERE`
- Logical conditions with `OR`
- Selecting specific columns

## ✅ Solution (SQL)
```sql
SELECT name, population, area
FROM World
WHERE area >= 3000000 OR population >= 25000000;

In [1]:
import pandas as pd

In [2]:
#Creating sample database.

data = [['Afghanistan', 'Asia', 652230, 25500100, 20343000000], ['Albania', 'Europe', 28748, 2831741, 12960000000], ['Algeria', 'Africa', 2381741, 37100000, 188681000000], ['Andorra', 'Europe', 468, 78115, 3712000000], ['Angola', 'Africa', 1246700, 20609294, 100990000000]]

world = pd.DataFrame(data, columns=['name', 'continent', 'area', 'population', 'gdp']).astype({'name':'object', 'continent':'object', 'area':'Int64', 'population':'Int64', 'gdp':'Int64'})

## 🐼 Solution (Pandas)

Filter the DataFrame to include only countries with:
- Area ≥ 3,000,000 or
- Population ≥ 25,000,000

Then return only the required columns: `name`, `population`, and `area`.

In [3]:
# SOLUTION
def big_countries(world: pd.DataFrame) -> pd.DataFrame:
        return world[(world["area"] >= 3000000) | (world["population"] >= 25000000)][["name" , "population" , "area"]]

In [4]:
# Test
big_countries(world)

          name  population     area
0  Afghanistan    25500100   652230
2      Algeria    37100000  2381741