# 📍 Problem Title: Customers Who Never Order

🔗 [LeetCode Problem 183 – Customers Who Never Order](https://leetcode.com/problems/customers-who-never-order/)


## 🗂️ Category
- Topic: **Joining Tables**, **Filtering Nulls**
- Difficulty: ⭐ Easy

## 📝 Problem Description
You are given two tables:
- `Customers` – Contains customer IDs and names.
- `Orders` – Contains orders placed by customers.

Return the names of customers who **never placed any orders**.

## 🧾 Example Input

**Customers**

| id | name   |
|----|--------|
| 1  | Joe    |
| 2  | Henry  |
| 3  | Sam    |
| 4  | Max    |

**Orders**

| id | customerId |
|----|------------|
| 1  | 3          |
| 2  | 1          |

## ✅ Expected Output

| Customers |
|-----------|
| Henry     |
| Max       |

## 🧠 Key Concepts
- **LEFT JOIN**: Merge all customers and attach orders if any exist.
- **NULL Filtering**: Identify customers who did not match any order.
- **Column Renaming**: Match the expected output column name.

## 🐼 Pandas Strategy
1. Perform a **left join** between `Customers` and `Orders` on customer ID.
2. Filter the merged DataFrame where `customerId` is `NaN` (no order placed).
3. Rename `"name"` column to `"Customers"`.
4. Return only the `"Customers"` column.

In [38]:
from unittest import result

import pandas as pd

In [39]:
# CREATE A SAMPLE DATAFRAMES.

c = [
    [1 , "Joe"],
    [2 , "Henry"],
    [3 , "Sam"],
    [4 , "Max"],
]

customers_df = pd.DataFrame(c, columns=['id','name'])

o = [
    [1 , 3],
    [2,1]
]
orders_df = pd.DataFrame(o , columns = ["id" , "customerId"])

In [44]:
def find_customers(customers : pd.DataFrame , orders : pd.DataFrame) -> pd.DataFrame:
    # .merge() is a Pandas function used to join two dataFrames, similar to SQL joins like INNER, LEFT, OUTER, RIGHT etc.
    # we're joining customers with orders dataFrame.
    result = customers.merge(orders , left_on= "id" , right_on = "customerId" , how = "left")
    # left_on = "id"
    # We're using 'id' column from the left DataFrame(customers) as the join key.
    # id represents the customer's unique ID

    # right_on = "customerId"
    # We're using the "customerId" column from the right dataFrame(orders) as the join key.
    # customerId refers to the customer who placed an order.

    # how = "left"
    # We're performing a left join, which means:
    #   Keep all rows from the customers DataFrame.
    #   If a matching row exists in orders, bring its value.
    #   If not match, fill with NaN.


    result = result[result["customerId"].isna()]
    # Filters the result DataFrame only include rows where customerId is Nan.
    # These rows represent customers who never placed any orders, because there was no match found during
    # the left join.
    # isna() ?
    # Returns True for missing values like (SQL's IS NULL)

    result.rename(columns= {"name" : "Customers"} , inplace = True)
    # Changes the column name, name -> Customers, (to match the output format which leetcode expect from us).
    # Modifies dataFrame without needing to reassign again.

    # this is the final output that lists customers who never ordered.
    return result[["Customers"]] # Returns a new DataFrame with just one column "Customers."

In [45]:
find_customers(customers_df,orders_df)

  Customers
1     Henry
3       Max