# PROBLEM TITLE Count Salary Categories.


column_name     type

account_id      int
income          int

Write a solution to calculacte the number of bank accounts for each salary category. The salary categories are.

'**Low Salary'** : All the salaries strictly less than $20.000

**'Average Salary'** : All the salaries in the inclusive range [20.000, 50.000]

**'High Salary'** : All the salaries strictly greater than 50.000

The result table must contain all three categories. If there are no accounts in a category, return 0.





category    accounts_count

Low Salary      3
Average Salary  1
High Salary     0

In [1]:
import pandas as pd

In [28]:
data = [
    [3, 108939],
    [2, 12747],
    [8, 87709],
    [6, 91796],
    [7,47500]
]

accounts = pd.DataFrame(data = data , columns = ['account_id' , 'income'])

In [29]:
accounts

   account_id  income
0           3  108939
1           2   12747
2           8   87709
3           6   91796
4           7   47500

In [33]:
accounts[(accounts['income'] >= 20000) & (accounts['income'] <= 50000)]

   account_id  income
4           7   47500

In [35]:
def count_salary_categories(accounts : pd.DataFrame) -> pd.DataFrame:

    # LOW SALARY CONDITION : STRICTLY LESS THAN 20.000
    # AVERAGE SALARY CONDITION : INCLUSIVE RANGE 20.000 TO 50.000
    # HIGH SALARY CONDITION : STRICTLY GREATER THAN 50.000
    low_salary_count = len(accounts[accounts['income'] < 20000])
    average_salary_count = len(accounts[(accounts['income'] >= 20000) & (accounts['income'] <= 50000)])
    high_salary_count = len(accounts[accounts['income'] > 50000])


    return pd.DataFrame(data = [
        ['Low Salary', low_salary_count],
        ['Average Salary' , average_salary_count],
        ['High Salary' , high_salary_count]
    ],columns = ['category', 'accounts_count'])

In [36]:
count_salary_categories(accounts)

         category  accounts_count
0      Low Salary               1
1  Average Salary               1
2     High Salary               3