# 📍 Problem Title: Second Highest Salary

🔗 [LeetCode Problem 176 – Second Highest Salary](https://leetcode.com/problems/second-highest-salary/description/?envType=study-plan-v2&envId=30-days-of-pandas)

---

## 📝 Problem Description
We are given a table `Employee` with the following schema:

| Column | Type |
|--------|------|
| id     | int  |
| salary | int  |

- `id` is the primary key.
- Each row contains the salary of an employee.

Write a solution to **find the second highest distinct salary** from the table.
If there is no second highest salary, return `null`.

---

## 🧾 Example

**Input:**

| id | salary |
|----|--------|
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |

**Output:**

| SecondHighestSalary |
|----------------------|
| 200                  |

---

## 🧠 Key Concepts
- Removing duplicate salaries using `drop_duplicates()`
- Sorting values with `sort_values(ascending=False)`
- Accessing the second row with `.iloc[1]`
- Handling edge cases where fewer than 2 distinct salaries exist
- Building a result DataFrame with a single scalar

---

In [99]:
import pandas as pd
data = [
    [1 , 100],
    [2, 100],
    [3,200],
    [4,300],
    [5,400],
    [6,275],
    [7,95]
]

employees = pd.DataFrame(data = data , columns = ["id" , "salary"])

In [100]:
# FIRST APPROACH.
# is explicit and easy to follow.
def second_highest_salary(employees : pd.DataFrame) -> pd.DataFrame:
    distinct_sal = employees.drop_duplicates('salary')
    sorted_sal = distinct_sal.sort_values(by = "salary", ascending = False)
    if len(sorted_sal) <= 1:
        return pd.DataFrame({"SecondHighestSalary" :[None]})
    return pd.DataFrame({"SecondHighestSalary" : [sorted_sal.iloc[1]['salary']]})

In [101]:
second_highest_salary(employees)

   SecondHighestSalary
0                  300

In [102]:
# Second Approach.
#A tidy, fast, idiomatic alternative.
# Shorter, faster, and more idiomatic with Pandas for 'top-k' problems.
def second_highest_salary(employees : pd.DataFrame) -> pd.DataFrame:

    top2 = employees['salary'].drop_duplicates().nlargest(2)
    if len(top2) == 2:
        val = top2.iloc[1]
    else:
        val = None
    return pd.DataFrame({'SecondHighestSalary' : [val]})

In [103]:
second_highest_salary(employees)

   SecondHighestSalary
0                  300