# ðŸ“ Problem Title: Delete Duplicate Emails

ðŸ”— [LeetCode Problem 196 â€“ Delete Duplicate Emails](https://leetcode.com/problems/delete-duplicate-emails/description/?envType=study-plan-v2&envId=30-days-of-pandas)

---

## ðŸ“ Problem Description
We are given a table `Person` with the following schema:

| Column | Type |
|--------|------|
| id     | int  |
| email  | str  |

- `id` is the primary key.
- Each row contains the email address of a person.

Write a solution to **delete all duplicate emails**, keeping only the row with the **smallest id** for each unique email.

---

## ðŸ§¾ Example

**Input:**

| id | email            |
|----|------------------|
| 1  | john@example.com |
| 2  | bob@example.com  |
| 3  | john@example.com |

**Output:**

| id | email            |
|----|------------------|
| 1  | john@example.com |
| 2  | bob@example.com  |

---

## ðŸ§  Key Concepts
- Sorting rows by `id` to ensure we keep the smallest id for each email.
- Using `drop_duplicates('email')` to remove duplicate emails while keeping the first occurrence.
- Operation is performed **in place** to update the original DataFrame.

---

âœ… This approach guarantees that only one row per unique email remains, and it always keeps the lowest `id`.

In [1]:
import pandas as pd

In [2]:
data = [
    [1, "john@example.com"],
    [2, "bob@example.com"],
    [3, "john@example.com"],  # duplicate of id=1
    [4, "alice@example.com"],
    [5, "bob@example.com"],   # duplicate of id=2
]

person = pd.DataFrame(data, columns=["id", "email"])

In [3]:
def delete_duplicate_emails(person : pd.DataFrame) -> None:
    person.sort_values(by = 'id' , inplace = True)
    person.drop_duplicates('email' , inplace = True)

In [4]:
delete_duplicate_emails(person)

In [5]:
person

   id              email
0   1   john@example.com
1   2    bob@example.com
3   4  alice@example.com