# üìç Problem Title: Rearrange Products Table

üîó [LeetCode Problem 1795 ‚Äì Rearrange Products Table](https://leetcode.com/problems/rearrange-products-table/description/?envType=study-plan-v2&envId=30-days-of-pandas)

---

## üìù Problem Description
We are given a table `Products` with the following schema:

| Column     | Type |
|------------|------|
| product_id | int  |
| store1     | int  |
| store2     | int  |
| store3     | int  |

Each row represents a product and the prices in different stores.
Some values can be `NULL` if the product is not available in that store.

Write a solution to **rearrange the table** so that each row contains:
- `product_id`
- `store`
- `price`

Ignore rows where the price is `NULL`.

---

## üßæ Example

**Input:**

| product_id | store1 | store2 | store3 |
|------------|--------|--------|--------|
| 0          | 95     | 100    | 105    |
| 1          | 70     | NULL   | 80     |

**Output:**

| product_id | store  | price |
|------------|--------|-------|
| 0          | store1 | 95    |
| 0          | store2 | 100   |
| 0          | store3 | 105   |
| 1          | store1 | 70    |
| 1          | store3 | 80    |

---

## üß† Key Concepts
- **Wide to Long transformation:**
  - Original table: one row per product with many store columns.
  - Desired table: one row per product per store.
- **Ignore missing values:** drop rows where price is `NULL`.

---

## üîé Explanation of `pd.melt`
The function **`pandas.melt()`** reshapes a DataFrame from **wide format** to **long format**.

- **`id_vars`** ‚Üí columns to keep as identifiers (e.g. `product_id`).
- **`var_name`** ‚Üí new column name for the former column headers (e.g. `store`).
- **`value_name`** ‚Üí new column name for the values (e.g. `price`).

üëâ In this problem:
```python
pd.melt(products, id_vars="product_id", var_name="store", value_name="price")

In [37]:
import pandas as pd

In [38]:
product_data = [
    [0, 95, 100, 105],
    [1, 70, None, 80 ]
]

products = pd.DataFrame(data = product_data , columns = ['product_id', 'store1', 'store2', 'store3'])

In [39]:
products

   product_id  store1  store2  store3
0           0      95   100.0     105
1           1      70     NaN      80

In [40]:
def rearrange_products_table(products: pd.DataFrame) -> pd.DataFrame:

    return pd.melt(products, id_vars = 'product_id' , var_name = 'store',  value_name = 'price').dropna()

In [41]:
rearrange_products_table(products)

   product_id   store  price
0           0  store1   95.0
1           1  store1   70.0
2           0  store2  100.0
4           0  store3  105.0
5           1  store3   80.0