# Problem Title: â€“ Nth Highest Salary

ðŸ“Œ **LeetCode Problem:** [177. Nth Highest Salary](https://leetcode.com/problems/nth-highest-salary/description/?envType=study-plan-v2&envId=30-days-of-pandas)

---

### Problem Statement
We are given a table `Employee` with the following schema:

| Column | Type    |
|--------|---------|
| id     | int     |
| salary | int     |

- `id` is the primary key.
- Each row contains the salary of an employee.
- Write a solution to **find the N-th highest distinct salary** from the table.
- If there are fewer than N distinct salaries, return `null`.

---

### Example

**Input:**

| id | salary |
|----|--------|
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
| 4  | 300    |
| 5  | 200    |

**Output (N = 2):**

| getNthHighestSalary(2) |
|-------------------------|
| 200                     |

---

### My Approach

1. **Remove duplicates** from the salary column using `drop_duplicates`.
2. **Sort** the unique salaries in descending order.
3. **Check** if `n` is valid (not greater than number of distinct salaries, not less than 1).
4. **Return** the salary at the `(n-1)` index (because of zero-based indexing).
5. If `n` is invalid, return `null`.

---

âœ… **Key Pandas Concepts Used**
- `drop_duplicates(subset=["salary"])`
- `sort_values(by="salary", ascending=False)`
- `iloc[]` for position-based indexing
- Constructing a new DataFrame for final result

---

This approach guarantees the correct **nth highest distinct salary** with edge case handling.

In [138]:
import pandas as pd

data = [
    [1 , 100],
    [2, 200],
    [3, 300],
    [4,300],
    [5,200]
]

employees = pd.DataFrame(data = data , columns = ["id" , "salary"])

In [139]:
# My approach
# 1. Drop any duplicate salary values.
# 2 .Sort the unique values
# 3 .check if the n is in the range.
# 4 .take the value by .loc[n-1]

def nth_highest_salary(employee: pd.DataFrame , n : int) -> pd.DataFrame:


    employee = employee.drop_duplicates(subset = ["salary"]) # Step 1. drop duplicates on the salary column.

    # Since our dataset contains only unique values we can sort right now
    employee = employee.sort_values(by = "salary" , ascending=False)

    # Check if the n is in the range.
    if n > len(employee) or n <= 0:
        return pd.DataFrame({f"getNthHighestSalary({n})" : [None]})

    # return the nth largest 'distinct' salary.
    return pd.DataFrame({f"getNthHighestSalary({n})" : [employee.iloc[n-1]["salary"]]})

In [140]:
nth_highest_salary(employees , 2)

   getNthHighestSalary(2)
0                     200