# üìç Problem Title: Rank Scores

üîó [LeetCode Problem 178 ‚Äì Rank Scores](https://leetcode.com/problems/rank-scores/description/?envType=study-plan-v2&envId=30-days-of-pandas)

---

## üìù Problem Description
We are given a table `Scores` with a single column:

| Column | Type |
|--------|------|
| score  | int  |

- Each row contains the score of a user.
- Write a solution to **rank the scores** in descending order.
- The ranking must follow the **dense ranking rule**:
  - The highest score has rank `1`.
  - If two scores are equal, they receive the same rank.
  - The next distinct score gets the next rank (no gaps).

---

## üßæ Example

**Input:**

| score |
|-------|
| 100   |
| 90    |
| 90    |
| 80    |

**Output:**

| score | rank |
|-------|------|
| 100   | 1    |
| 90    | 2    |
| 90    | 2    |
| 80    | 3    |

---

## üß† Key Concepts
- Sorting scores in **descending order**.
- Using **dense ranking** to handle ties properly.
- Dense ranking ensures that ranks are consecutive without gaps.
- In Pandas, `rank(method='dense', ascending=False)` can be used to assign ranks in this way.

---

In [19]:
import pandas as pd

In [20]:
scores_data = [
    [1,3.5],
    [2,3.65],
    [3,4.00],
    [4,3.85],
    [5,4.00],
    [6,3.65]
]
scores = pd.DataFrame(data = scores_data , columns = ['id','score'])
scores

   id  score
0   1   3.50
1   2   3.65
2   3   4.00
3   4   3.85
4   5   4.00
5   6   3.65

In [43]:
def order_scores(scores : pd.DataFrame) -> pd.DataFrame:

    scores.sort_values(by = 'score' , ascending=False , inplace = True)
    # In pandas .rank() assign ranks to values. The method parameter changes how ties are handled.
    # method = 'dense' -> Dense ranking.
    # Equal values get same rank.
    # Next distinct value's rank increases by 1 (no gaps).
    scores['rank'] = scores['score'].rank(method = 'dense', ascending=False).astype(int)

    return scores[['score','rank']]

In [44]:
order_scores(scores)

   score  rank
2   4.00     1
4   4.00     1
3   3.85     2
1   3.65     3
5   3.65     3
0   3.50     4