# 📍 Problem Title: Department Highest Salary

🔗 [LeetCode Problem 184 – Department Highest Salary](https://leetcode.com/problems/department-highest-salary/description/?envType=study-plan-v2&envId=30-days-of-pandas)

---

## 📝 Problem Description
You are given two tables:

**Department**

| Column | Type |
|--------|------|
| id     | int  |
| name   | str  |

**Employee**

| Column       | Type |
|--------------|------|
| id           | int  |
| name         | str  |
| salary       | int  |
| departmentId | int  |

- `id` is the primary key for both tables.
- Each employee belongs to a department.

Write a solution to find **the employees who have the highest salary in each department**.
Return the result table with the following columns:
- `Department`
- `Employee`
- `Salary`

---

## 🧾 Example

**Input**

**Department**

| id | name  |
|----|-------|
| 1  | IT    |
| 2  | Sales |

**Employee**

| id | name  | salary | departmentId |
|----|-------|--------|--------------|
| 1  | Joe   | 70000  | 1            |
| 2  | Jim   | 90000  | 1            |
| 3  | Henry | 80000  | 2            |
| 4  | Sam   | 60000  | 2            |
| 5  | Max   | 90000  | 1            |

**Output**

| Department | Employee | Salary |
|------------|----------|--------|
| IT         | Jim      | 90000  |
| IT         | Max      | 90000  |
| Sales      | Henry    | 80000  |

---

## 🧠 Key Concepts
- Merging employee and department tables (`pd.merge`)
- Grouping by department and finding the **maximum salary** (`groupby().max()` or `transform("max")`)
- Filtering rows where the employee salary equals the department’s maximum
- Returning only the required columns: Department, Employee, Salary

---

✅ This approach returns **all top earners** in each department (ties included).

In [161]:
import pandas as pd

In [162]:
employee_data = [
    [1,'Joe',70000,1],
    [2,'Jim',90000,1],
    [3,'Henry',80000,2],
    [4,'Sam',60000,2],
    [5,'Max',90000,1],
]
df_employee = pd.DataFrame(data = employee_data, columns = ['id','name','salary','departmentId'])

In [163]:
department_data = [
    [1,'IT'],
    [2,'Sales']
]
df_department = pd.DataFrame(data = department_data , columns = ['id','name'])

In [170]:
def department_highest_salary(employee : pd.DataFrame , department : pd.DataFrame) -> pd.DataFrame:

    merge = pd.merge(left = employee , right = department , left_on = 'departmentId', right_on = 'id')
    merge.rename(columns = {"id_x":"id" , "name_x":"name" , "id_y":'depID' , "name_y" : 'Department'} , inplace = True)

    max_salaries = merge.groupby('Department', as_index = False).max()[['Department','salary']].rename(columns = {"salary" : "max_salary"})

    result_df = max_salaries.merge(merge , on ='Department')
    result_df = result_df[result_df["max_salary"] == result_df['salary']]
    result_df = result_df[['Department' , 'name','salary']]
    result_df.rename(columns = {"name":"Employee", 'salary':"Salary"}, inplace = True)
    return result_df

In [169]:
department_highest_salary(df_employee,df_department)

  Department Employee  Salary
1         IT      Jim   90000
2         IT      Max   90000
3      Sales    Henry   80000