# 📍 Problem Title: Article Views I

🔗 [LeetCode Problem 1148 – Article Views I](https://leetcode.com/problems/article-views-i/)

## 🗂️ Category
- Topic: **Self-joins / Filtering own views**
- Difficulty: ⭐ Easy

## 📝 Problem Description

You're given a table `Views` with the following columns:
- `article_id` (int)
- `author_id` (int)
- `viewer_id` (int)
- `view_date` (date)

Write a query to return the IDs of authors who have **viewed their own articles**.

### ✅ Constraints:
- Return only the **distinct `author_id` values** where the `viewer_id` equals the `author_id`.
- Sort the results by `author_id` in ascending order.

## 🧾 Example Input

| article_id | author_id | viewer_id | view_date   |
|------------|-----------|-----------|-------------|
| 1          | 3         | 5         | 2019-08-01  |
| 1          | 3         | 6         | 2019-08-02  |
| 2          | 7         | 7         | 2019-08-01  |
| 2          | 7         | 6         | 2019-08-02  |
| 4          | 7         | 1         | 2019-07-22  |
| 3          | 4         | 4         | 2019-07-21  |
| 3          | 4         | 4         | 2019-07-21  |

## ✅ Expected Output

| id |
|----|
| 4  |
| 7  |

## 🧠 Key Concepts
- Filtering where `author_id == viewer_id`
- Removing duplicates with `drop_duplicates()`
- Renaming columns for final output format
- Sorting results

## 🐼 Solution (Pandas)

```python
def article_views(views: pd.DataFrame) -> pd.DataFrame:
    # Filter rows where author_id equals viewer_id and select only author_id column
    views = views[views["viewer_id"] == views["author_id"]][["author_id"]]

    # Drop duplicates and rename for output format
    views = views.drop_duplicates()
    return views.sort_values(by="author_id").rename(columns={"author_id": "id"})

In [1]:
import pandas as pd

In [2]:
data = [
    [1, 3, 5, "2019-08-01"],
    [1, 3, 6, "2019-08-02"],
    [2, 7, 7, "2019-08-01"],
    [2, 7, 6, "2019-08-02"],
    [4, 7, 1, "2019-07-22"],
    [3, 4, 4, "2019-07-21"],
    [3, 4, 4, "2019-07-21"],
]

columns = ["article_id", "author_id", "viewer_id", "view_date"]

views = pd.DataFrame(data, columns=columns)

In [68]:
def article_views(views : pd.DataFrame) -> pd.DataFrame:

    #Filter rows where author_id equals to viewer_id and only took author_id column.
    views = views[views["viewer_id"] == views["author_id"]][["author_id"]]

    views = views.drop_duplicates()
    return views.sort_values(by="author_id").rename(columns= {"author_id" : "id"})

In [69]:
article_views(views)

   id
5   4
2   7