# üìç Problem Title: Game Play Analysis I

üîó [LeetCode Problem 511 ‚Äì Game Play Analysis I](https://leetcode.com/problems/game-play-analysis-i/description/?envType=study-plan-v2&envId=30-days-of-pandas)

---

## üìù Problem Description
We are given a table `Activity` with the following schema:

| Column       | Type |
|--------------|------|
| player_id    | int  |
| device_id    | int  |
| event_date   | date |
| games_played | int  |

- `(player_id, event_date)` is the primary key.
- Each row is a record of a player's activity on a certain day, with the number of games played.

Write a solution to find the **first login date** for each player.

Return a table with columns:
- `player_id`
- `first_login`

---

## üßæ Example

**Input:**

| player_id | device_id | event_date | games_played |
|-----------|-----------|------------|--------------|
| 1         | 2         | 2016-03-01 | 5            |
| 1         | 2         | 2016-05-02 | 6            |
| 2         | 3         | 2017-06-25 | 1            |
| 3         | 1         | 2016-03-02 | 0            |
| 3         | 4         | 2018-07-03 | 5            |

**Output:**

| player_id | first_login |
|-----------|-------------|
| 1         | 2016-03-01  |
| 2         | 2017-06-25  |
| 3         | 2016-03-02  |

---

## üß† Key Concepts
- Grouping by `player_id` ensures we process each player separately.
- Using `.min()` on `event_date` extracts the earliest login date.
- Renaming the column to `first_login` matches the required output format.

---

‚úÖ This approach efficiently computes each player‚Äôs first login date with a single `groupby` and aggregation.

In [2]:
import pandas as pd

data = [
    [1, 2, "2016-03-01", 5],
    [1, 2, "2016-05-02", 6],
    [2, 3, "2017-06-25", 1],
    [3, 1, "2016-03-02", 0],
    [3, 4, "2018-07-03", 5],
]

activity = pd.DataFrame(
    data,
    columns=["player_id", "device_id", "event_date", "games_played"]
)

activity

   player_id  device_id  event_date  games_played
0          1          2  2016-03-01             5
1          1          2  2016-05-02             6
2          2          3  2017-06-25             1
3          3          1  2016-03-02             0
4          3          4  2018-07-03             5

In [10]:
def game_analysis(activity : pd.DataFrame) -> pd.DataFrame:

    return activity.groupby(by=["player_id"] , as_index=False)['event_date'].min().rename(columns = {"event_date":"first_login"})

In [11]:
game_analysis(activity)

   player_id first_login
0          1  2016-03-01
1          2  2017-06-25
2          3  2016-03-02