# üìç Problem Title: Find Total Time Spent by Each Employee

üîó [LeetCode Problem 1741 ‚Äì Find Total Time Spent by Each Employee](https://leetcode.com/problems/find-total-time-spent-by-each-employee/description/?envType=study-plan-v2&envId=30-days-of-pandas)

---

## üìù Problem Description
We are given a table `Employees` with the following schema:

| Column    | Type |
|-----------|------|
| emp_id    | int  |
| event_day | date |
| in_time   | int  |
| out_time  | int  |

- `(emp_id, event_day, in_time)` is the primary key.
- Each row represents an employee‚Äôs entry/exit record for a session on a given day.

Write a solution to **calculate the total time each employee spent at work per day**.

The result should have three columns:
- `day` (same as `event_day`)
- `emp_id`
- `total_time`

---

## üßæ Example

**Input:**

| emp_id | event_day  | in_time | out_time |
|--------|------------|---------|----------|
| 1      | 2020-11-28 | 4       | 32       |
| 1      | 2020-11-28 | 55      | 200      |
| 1      | 2020-12-03 | 1       | 42       |
| 2      | 2020-11-28 | 3       | 33       |
| 2      | 2020-12-09 | 47      | 74       |

**Output:**

| day        | emp_id | total_time |
|------------|--------|------------|
| 2020-11-28 | 1      | 173        |
| 2020-12-03 | 1      | 41         |
| 2020-11-28 | 2      | 30         |
| 2020-12-09 | 2      | 27         |

---

## üß† Key Concepts
- **Session time** per row = `out_time - in_time`
- **Group by** `event_day` and `emp_id`
- **Sum session times** to get daily totals
- Rename `event_day` ‚Üí `day` to match expected format
- Select only the required columns for the result

---

‚úÖ This approach explicitly computes time per session first, making the logic very clear. It ensures each employee‚Äôs **total working time per day** is calculated correctly.

In [70]:
import pandas as pd

In [71]:

data = [
    [1, "2020-11-28", 4, 32],
    [1, "2020-11-28", 55, 200],
    [1, "2020-12-3", 1, 42],
    [2, "2020-11-28", 3, 33],
    [2, "2020-12-9", 47, 74]
]

employees = pd.DataFrame(data, columns=["emp_id", "event_day", "in_time", "out_time"])

In [72]:
employees

   emp_id   event_day  in_time  out_time
0       1  2020-11-28        4        32
1       1  2020-11-28       55       200
2       1   2020-12-3        1        42
3       2  2020-11-28        3        33
4       2   2020-12-9       47        74

In [73]:
def total_time(employees : pd.DataFrame) -> pd.DataFrame:

    # Calculate each events total time
    employees['total_time'] = employees['out_time'] - employees['in_time']

    # Groupby , as_index = False because we do not want to event_day and emp_id to became index.
    grouped = employees.groupby(['event_day' , 'emp_id'],as_index = False)['total_time'].sum()

    # rename the column to the match expected format.
    grouped.rename(columns = {'event_day' : 'day'} , inplace = True)
    return grouped

In [74]:
total_time(employees)

          day  emp_id  total_time
0  2020-11-28       1         173
1  2020-11-28       2          30
2   2020-12-3       1          41
3   2020-12-9       2          27