# üìç Problem Title: Number of Unique Subjects Taught by Each Teacher

üîó [LeetCode Problem 2356 ‚Äì Number of Unique Subjects Taught by Each Teacher](https://leetcode.com/problems/number-of-unique-subjects-taught-by-each-teacher/description/?envType=study-plan-v2&envId=30-days-of-pandas)

---

## üìù Problem Description
We are given a table `Teacher` with the following schema:

| Column     | Type |
|------------|------|
| teacher_id | int  |
| subject_id | int  |
| dept_id    | int  |

Each row represents a teacher teaching a subject in a department.
A teacher can appear multiple times if they teach the **same subject in different departments**.

Write a solution to find the **number of unique subjects taught by each teacher**.

Return a table with columns:
- `teacher_id`
- `cnt` (the number of distinct subjects)

---

## üßæ Example

**Input:**

| teacher_id | subject_id | dept_id |
|------------|------------|---------|
| 1          | 2          | 3       |
| 1          | 2          | 4       |
| 1          | 3          | 3       |
| 2          | 1          | 1       |
| 2          | 2          | 1       |
| 2          | 3          | 1       |
| 2          | 4          | 1       |

**Output:**

| teacher_id | cnt |
|------------|-----|
| 1          | 2   |
| 2          | 4   |

---

## üß† Key Concepts
- Teachers may appear multiple times across departments.
- We only care about **distinct (teacher_id, subject_id) pairs**.
- Grouping by `teacher_id` allows us to count how many unique subjects each teacher teaches.

In [52]:
import pandas as pd

In [53]:
data = [
    [1, 2, 3],
    [1, 2, 4],
    [1, 3, 3],
    [2, 1, 1],
    [2, 2, 1],
    [2, 3, 1],
    [2, 4, 1]
]

teachers = pd.DataFrame(data, columns=["teacher_id", "subject_id", "dept_id"])


teachers

   teacher_id  subject_id  dept_id
0           1           2        3
1           1           2        4
2           1           3        3
3           2           1        1
4           2           2        1
5           2           3        1
6           2           4        1

In [54]:
def count_unique_subjects(teacher : pd.DataFrame) -> pd.DataFrame:
    #Step 1: Drop duplicate (teacher_id, subject_id) paris.
    unique_pairs = teacher.drop_duplicates(subset = ["teacher_id","subject_id"])

    # Step2 : Group by teacher_id and count unique subjects

    result = (
        unique_pairs.groupby("teacher_id", as_index = False)["subject_id"].count().rename(columns = {"subject_id" : "cnt"})
    )

    # ALTERNATIVE SOLUTION ONE LINER.
    # return teacher.groupby("teacher_id")["subject_id"].nunique().reset_index().rename(columns={"subject_id" : "cnt")


    return result

In [55]:
count_unique_subjects(teachers)

   teacher_id  cnt
0           1    2
1           2    4