# üìç Problem Title: Customer Placing the Largest Number of Orders

üîó [LeetCode Problem 586 ‚Äì Customer Placing the Largest Number of Orders](https://leetcode.com/problems/customer-placing-the-largest-number-of-orders/description/?envType=study-plan-v2&envId=30-days-of-pandas)

---

## üìù Problem Description
We are given a table `Orders` with the following schema:

| Column        | Type |
|---------------|------|
| order_number  | int  |
| customer_number | int |

- Each row represents one order placed by a customer.
- We want to find the **customer who placed the largest number of orders**.

Return a table with a single column:
- `customer_number`

---

## üßæ Example

**Input:**

| order_number | customer_number |
|--------------|-----------------|
| 1            | 1               |
| 2            | 2               |
| 3            | 3               |
| 4            | 3               |

**Output:**

| customer_number |
|-----------------|
| 3               |

---

## üß† Key Concepts
- **Group by `customer_number`** ‚Üí collect all orders per customer.
- **Count the number of orders** for each customer.
- **Find the maximum order count** and return the customer(s).

---

## üêº Approach 1: Using `.nlargest()`
1. Group by `customer_number` and count orders.
2. Use `.nlargest(n=1)` to pick the customer with the maximum order count.

‚ö†Ô∏è This only returns **one customer** (not ties).

---

## üêº Approach 2: Using `.max()` (handles ties)
1. Group by `customer_number` and count orders.
2. Compute the maximum order count with `.max()`.
3. Filter all rows where count == max.
4. Return all customer numbers.

‚úÖ This approach works even if multiple customers share the maximum number of orders.

---

## üßæ Follow-up Example

**Input:**

| order_number | customer_number |
|--------------|-----------------|
| 1            | 1               |
| 2            | 2               |
| 3            | 3               |
| 4            | 3               |
| 5            | 2               |
| 6            | 2               |
| 7            | 3               |

**Counts:**
- Customer 1 ‚Üí 1 order
- Customer 2 ‚Üí 3 orders
- Customer 3 ‚Üí 3 orders

**Output:**

| customer_number |
|-----------------|
| 2               |
| 3               |

---

## üîé Comparison
- **Approach 1 (nlargest):** concise, but only returns one row.
- **Approach 2 (== max):** more explicit, and correctly handles ties.

‚úÖ Use **Approach 2** if the follow-up asks for all customers with the maximum number of orders.

In [52]:
import pandas as pd

data = [
    [1, 1],
    [2, 2],
    [3, 3],
    [4, 3],
    [5, 2],
    [6, 2],
    [7, 3]
]

orders = pd.DataFrame(
    data,
    columns=["order_number", "customer_number"]
)
orders

   order_number  customer_number
0             1                1
1             2                2
2             3                3
3             4                3
4             5                2
5             6                2
6             7                3

In [53]:
def largest_orders(orders : pd.DataFrame) -> pd.DataFrame:

    return orders.groupby(by = "customer_number" , as_index = False)["order_number"].count().nlargest(columns = "order_number" , n = 1)[["customer_number"]]

In [54]:
largest_orders(orders)

   customer_number
1                2

#### Follow up: What if more than one customer has the largest number of orders, can you find the all **customer_number** in this case ?

In [55]:
def largest_orders_followUp(orders: pd.DataFrame) -> pd.DataFrame:
    # Step 1: count orders per customer
    order_counts = orders.groupby("customer_number").size().reset_index(name="count")

    # Step 2: find the maximum number of orders
    max_count = order_counts["count"].max()

    # Step 3: filter all customers who have that max
    result = order_counts[order_counts["count"] == max_count][["customer_number"]]

    return result

In [57]:
largest_orders_followUp(orders)

   customer_number
1                2
2                3