# 📍 Problem Title: Classes More Than 5 Students

🔗 [LeetCode Problem 596 – Classes More Than 5 Students](https://leetcode.com/problems/classes-with-at-least-5-students/description/?envType=study-plan-v2&envId=30-days-of-pandas)

---

## 📝 Problem Description
We are given a table `Courses` with the following schema:

| Column  | Type |
|---------|------|
| student | str
| class   | str  |

- `(student, class)` is the primary key.
- Each row indicates that a student is enrolled in a class.

Write a solution to find all the classes that have **at least 5 students enrolled**.
Return the result table with a single column:
- `class`

---

## 🧾 Example

**Input:**

| student | class    |
|---------|----------|
| A       | Math     |
| B       | English  |
| C       | Math     |
| D       | Biology  |
| E       | Math     |
| F       | Computer |
| G       | Math     |
| H       | Math     |
| I       | Math     |

**Output:**

| class |
|-------|
| Math  |

---

## 🧠 Key Concepts
- **Group by `class`** → collect all rows belonging to the same class.
- **Count the number of students** in each group.
- **Filter classes** where the count ≥ 5.
- Return only the column `class`.

---

## 🐼 Pandas Approach
1. Use `groupby("class")` to aggregate rows per class.
2. Use `.count()` (or `.size()`) to count how many students per class.
3. Filter with condition `>= 5`.
4. Return only the `class` column.

---

✅ This approach ensures we only list classes that have **5 or more students** enrolled.

In [2]:
import pandas as pd

data = [
    ["A", "Math"],
    ["B", "English"],
    ["C", "Math"],
    ["D", "Biology"],
    ["E", "Math"],
    ["F", "Computer"],
    ["G", "Math"],
    ["H", "Math"],
    ["I", "Math"]
]

students = pd.DataFrame(data, columns=["student", "class"])

students

  student     class
0       A      Math
1       B   English
2       C      Math
3       D   Biology
4       E      Math
5       F  Computer
6       G      Math
7       H      Math
8       I      Math

In [12]:
def find_classes(courses : pd.DataFrame) -> pd.DataFrame:
    result = students.groupby(by = ["class"] , as_index = False).count()
    return result[result["student"] >= 5][["class"]]

In [13]:
find_classes(students)

  class
3  Math