# üìç Problem Title: Replace Employee ID With the Unique Identifier

üîó [LeetCode Problem 1378 ‚Äì Replace Employee ID With the Unique Identifier](https://leetcode.com/problems/replace-employee-id-with-the-unique-identifier/description/?envType=study-plan-v2&envId=30-days-of-pandas)

---

## üìù Problem Description
We are given two tables:

**Employees**

| Column | Type    |
|--------|---------|
| id     | int     |
| name   | varchar |

- `id` is the primary key.
- Each row contains the id and the name of an employee.

**EmployeeUNI**

| Column    | Type |
|-----------|------|
| id        | int  |
| unique_id | int  |

- `(id, unique_id)` is the primary key.
- Each row maps an employee `id` to a unique identifier.

We want to show the **unique ID** of each user.
If a user does not have a unique ID, return `null` instead.

Return the result with the following columns:
- `unique_id`
- `name`

---

## üßæ Example

**Input:**

Employees table:

| id | name     |
|----|----------|
| 1  | Alice    |
| 7  | Bob      |
| 11 | Meir     |
| 90 | Winston  |
| 3  | Jonathan |

EmployeeUNI table:

| id | unique_id |
|----|-----------|
| 3  | 1         |
| 11 | 2         |
| 90 | 3         |

**Output:**

| unique_id | name     |
|-----------|----------|
| null      | Alice    |
| null      | Bob      |
| 2         | Meir     |
| 3         | Winston  |
| 1         | Jonathan |

---

## üß† Key Concepts
- This problem is solved using a **LEFT JOIN**:
  - Keep all employees (`Employees` table).
  - Bring in the `unique_id` if it exists in `EmployeeUNI`.
  - If no match is found, show `null`.

- In Pandas, a **left join** is performed with:
  ```python
  pd.merge(employees, employee_uni, on="id", how="left")

In [2]:
import pandas as pd
data = [[1, 'Alice'], [7, 'Bob'], [11, 'Meir'], [90, 'Winston'], [3, 'Jonathan']]
employees = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'int64', 'name':'object'})
data = [[3, 1], [11, 2], [90, 3]]
employee_uni = pd.DataFrame(data, columns=['id', 'unique_id']).astype({'id':'int64', 'unique_id':'int64'})

In [4]:
employees

   id      name
0   1     Alice
1   7       Bob
2  11      Meir
3  90   Winston
4   3  Jonathan

In [6]:
employee_uni

   id  unique_id
0   3          1
1  11          2
2  90          3

Question asked for us.

Write a solution to show **Unique ID** of each user, If a user does not have unique ID replace just show null.

This is basically left join. if the rows are matched no problem if does not match just replaced with null.

In [29]:
def replace_employee_id(employees: pd.DataFrame , employee_uni : pd.DataFrame) -> pd.DataFrame:
    return pd.merge(left = employees, right = employee_uni, how = "left")[["unique_id", "name"]]

In [30]:
replace_employee_id(employees,employee_uni)

   unique_id      name
0        NaN     Alice
1        NaN       Bob
2        2.0      Meir
3        3.0   Winston
4        1.0  Jonathan