# ðŸ“ Problem Title: Actors and Directors Who Cooperated At Least Three Times

ðŸ”— [LeetCode Problem 1050 â€“ Actors and Directors Who Cooperated At Least Three Times](https://leetcode.com/problems/actors-and-directors-who-cooperated-at-least-three-times/description/?envType=study-plan-v2&envId=30-days-of-pandas)

---

## ðŸ“ Problem Description
We are given a table `ActorDirector` with the following schema:

| Column      | Type |
|-------------|------|
| actor_id    | int  |
| director_id | int  |
| timestamp   | date |

Each row indicates that an `actor_id` cooperated with a `director_id` in a certain movie (recorded by `timestamp`).

We need to find all **(actor_id, director_id)** pairs that cooperated at least **three times**.

Return a table with the following columns:
- `actor_id`
- `director_id`

---

## ðŸ§¾ Example

**Input:**

| actor_id | director_id | timestamp   |
|----------|-------------|-------------|
| 1        | 1           | 2020-01-01  |
| 1        | 1           | 2020-02-01  |
| 1        | 1           | 2020-03-01  |
| 2        | 1           | 2020-01-15  |

**Output:**

| actor_id | director_id |
|----------|-------------|
| 1        | 1           |

---

## ðŸ§  Key Concepts
- **Grouping** â†’ `groupby(['actor_id', 'director_id'])` collects all rows for each actorâ€“director pair.
- **Counting** â†’ `.size()` counts the number of rows in each group (i.e., cooperations).
- **Resetting the index** â†’ `.reset_index(name="count")` flattens the grouped result into a DataFrame with a proper `count` column.
- **Filtering** â†’ keep only rows where `count >= 3`.

---

## ðŸ¼ Pandas Outline
1. Group the DataFrame by `(actor_id, director_id)`.
2. Use `.size()` to count the number of cooperations in each group.
3. Convert the result into a clean DataFrame with `.reset_index(name="count")`.
4. Filter rows where `count >= 3`.
5. Return only `actor_id` and `director_id`.

---

## ðŸ”Ž Visual Walkthrough

**Step 1: Group and count with `.size()`**

In [55]:
import pandas as pd
data = [[1, 1, 0], [1, 1, 1], [1, 1, 2], [1, 2, 3], [1, 2, 4], [2, 1, 5], [2, 1, 6]]
actor_director = pd.DataFrame(data, columns=['actor_id', 'director_id', 'timestamp']).astype({'actor_id':'int64', 'director_id':'int64', 'timestamp':'int64'})

In [56]:
actor_director

   actor_id  director_id  timestamp
0         1            1          0
1         1            1          1
2         1            1          2
3         1            2          3
4         1            2          4
5         2            1          5
6         2            1          6

In [57]:
def actors_and_directors(actor_director: pd.DataFrame) -> pd.DataFrame:
    df = actor_director.groupby(['actor_id',"director_id"]).size().reset_index(name = "count")
    return df[df['count']>= 3][["actor_id" , "director_id"]]

In [58]:
actors_and_directors(actor_director)

   actor_id  director_id
0         1            1