# üìç Problem Title: Invalid Tweets

üîó [LeetCode Problem 1683 ‚Äì Invalid Tweets](https://leetcode.com/problems/invalid-tweets/)

## üóÇÔ∏è Category
- Topic: **String length check**
- Difficulty: ‚≠ê Easy

## üìù Problem Description
You're given a table `Tweets` with the following columns:
- `tweet_id` (int)
- `content` (string)

Write a query to find the IDs of tweets that are **invalid**.
A tweet is invalid if its `content` length **exceeds 15 characters**.

### ‚úÖ Constraints:
- Output only the `tweet_id` of invalid tweets.
- Return results in any order.

## üßæ Example Input

| tweet_id | content               |
|----------|-----------------------|
| 1        | Vote for Biden        |
| 2        | Let us make America great again! |
| 3        | Leetcode is awesome   |

## ‚úÖ Expected Output

| tweet_id |
|----------|
| 2        |

## üß† Key Concepts
- String length calculation
- Filtering rows based on string length
- Selecting specific columns

In [1]:
import pandas as pd

In [2]:
# Sample data
data = [
    [1, "Vote for Biden"],
    [2, "Let us make America great again!"],
    [3, "Leetcode is awesome"]
]

# Create DataFrame
tweets = pd.DataFrame(data, columns=["tweet_id", "content"])
tweets

   tweet_id                           content
0         1                    Vote for Biden
1         2  Let us make America great again!
2         3               Leetcode is awesome

In [9]:
def invalid_tweets(tweets : pd.DataFrame) -> pd.DataFrame:
    return tweets[tweets["content"].str.len() > 15][["tweet_id"]]

   tweet_id
1         2
2         3

In [10]:
invalid_tweets(tweets)

   tweet_id
1         2
2         3