#  Problem Title: Count Occurrences in Text

üîó [LeetCode Problem 2738 ‚Äì Count Occurrences in Text](https://leetcode.com/problems/count-occurrences-in-text/)

##  Category
- Topic: **Standalone Word Count**
- Difficulty: ‚≠ê Medium

##  Problem Description
You have a table `Files` with a column `content` containing text.
Count how many files contain **at least one standalone occurrence** of each of the words `"bull"` and `"bear"`, **as separate words** (no partial matches like `"bullet"` or `"bear."`).

Return a table with two rows:

| word | count |
|------|-------|
| bull |  X    |
| bear |  Y    |

Counts can be in any order.

##  Key Concepts
- Searching for **whole words**, not substrings
- Filtering with **word boundaries** (e.g., spaces or start/end)
- Aggregating via **sums/counts**
- Using functions like `LIKE`, regex, or manual parsing

In [42]:
from dataclasses import field

import pandas as pd

data = {
    "file_name": ["file1.txt", "file2.txt", "file3.txt", "file4.txt", "file5.txt"],
    "content": [
        "The bull market is strong",
        "The bear market is weak",
        "Both bull and bear are mentioned",
        "This is a bullet point example",
        "Just random text without keywords"
    ]
}

files = pd.DataFrame(data)
files

   file_name                            content
0  file1.txt          The bull market is strong
1  file2.txt            The bear market is weak
2  file3.txt   Both bull and bear are mentioned
3  file4.txt     This is a bullet point example
4  file5.txt  Just random text without keywords

In [43]:
def count_occurences(files : pd.DataFrame) -> pd.DataFrame:

    has_bull = files["content"].apply(lambda s: "bull" in s.lower().split())
    has_bear = files["content"].apply(lambda s: "bear" in s.lower().split())

    return pd.DataFrame([["bull" , int(has_bull.sum())],
                        ["bear" , int(has_bear.sum())]],
                        columns = ["word" , "count"]
                        )

In [44]:
count_occurences(files)

   word  count
0  bull      2
1  bear      2